/* --------------------- Styles Guide By Bharath Kumar --------------------- */

/* --------------------- Light Mode --------------------- */
:root {
  /* Colors */
  --color-dark: #ffffff;
  --color-light: #121212;
  --color-gray: #55585a;
  --color-lightgray: #e9eaeb;
  --color-white: #ffffff;
  --color-black: #121212;
  --color-selection: #e0813d;
  --color-hover: #e9eaeba2;

  --color-border: #b4b4b5;
  --color-border-solid: #d2d2d2;

  /* Animation */
  --animation-primary: all 0.5s cubic-bezier(0.7, 0, 0.3, 1);
  --animation-fast: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
  --animation-smooth: all 0.7s cubic-bezier(0.7, 0, 0.3, 1);
  --animation-slow: all 0.9s cubic-bezier(0.7, 0, 0.3, 1);

  /* Layout */
  --section-padding: clamp(5em, 21vh, 12em);
  --container-padding: clamp(2.5em, 8vw, 8em);
  --gap-padding: clamp(1.5em, 4vw, 2.5em);
}

/* --------------------- Dark Mode --------------------- */
@media (prefers-color-scheme: dark) {
  :root {
    --color-dark: #121212;
    --color-light: #ffffff;
    --color-gray: #999d9e;
    --color-lightgray: #2a2a2a;
    --color-white: #ffffff;
    --color-black: #121212;
    --color-selection: #e0813d;
    --color-hover: #2a2a2aa2;

    --color-border: #57565633;
    --color-border-solid: #545557;

    /* Animation */
    --animation-primary: all 0.5s cubic-bezier(0.7, 0, 0.3, 1);
    --animation-fast: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
    --animation-smooth: all 0.7s cubic-bezier(0.7, 0, 0.3, 1);
    --animation-slow: all 0.9s cubic-bezier(0.7, 0, 0.3, 1);

    /* Layout */
    --section-padding: clamp(5em, 21vh, 12em);
    --container-padding: clamp(2.5em, 8vw, 8em);
    --gap-padding: clamp(1.5em, 4vw, 2.5em);
  }
}

/* --------------------- Responsive --------------------- */
@media screen and (max-width: 1200px) {
  :root {
    --container-padding: 6vw;
  }
}

@media screen and (max-width: 720px) {
  :root {
    --section-padding: 12vh;
  }
}

@media screen and (max-width: 540px) {
  :root {
    --color-border: rgba(28, 29, 32, 0.225);
    --container-padding: clamp(1.25em, 4vw, 2.5em);
    --section-padding: max(2.5em, 12vh);
    --color-border: rgba(255, 255, 255, 0.225);
  }
}

/* -------------------- Body --------------------  */

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
li,
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* ----------- Selections ---------- */
::selection {
  background-color: var(--color-selection);
  color: var(--color-light);
  text-shadow: none;
}
::-moz-selection {
  background-color: var(--color-selection);
  color: var(--color-light);
  text-shadow: none;
}

html,
body {
  width: 100%;
  position: relative;
  background-color: var(--color-dark);
  overflow-x: hidden;
  color: var(--color-light);
}

a {
  cursor: pointer;
}

@import "tailwindcss";
